{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block content %}
<div class="container">
  <h1>Our Changing World</h1>
  <h3>Enter marks and comments for {{selecteduser}} : </h3>
  <br>
  <form action="" method="post" name="evaluation">
    {{form.hidden_tag()}}
    <p>
        {{criteria[0]}}:
        {{form.m1 (size=2)}} <br>
        {% for error in form.errors.m1 %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br><br>
        {{criteria[1]}}:
        {{form.m2 (size=2)}} <br>
        {% for error in form.errors.m2 %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br><br>
        {{criteria[2]}}:
        {{form.m3 (size=2)}} <br>
        {% for error in form.errors.m3 %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br><br>
        {{criteria[3]}}:
        {{form.m4 (size=2)}} <br>
        {% for error in form.errors.m4 %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br><br>
        {{criteria[4]}}:
        {{form.m5 (size=2)}} <br>
        {% for error in form.errors.m5 %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br><br>
        Comment:<br>
        {{form.j1(rows= '4', cols='70')}}<br>
    </p>
    <p><input type="submit" value="Save" class="btn btn-success" ></p>
</form>

</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}