<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Please enter your username:<br>
        {{form.uname(size=60)}}<br>
        {% for error in form.errors.uname %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        Please enter your OCW password:<br>
        {{form.pwd(size=60)}}<br>
        {% for error in form.errors.pwd %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form.remember_me}} Remember Me</p>
    <p><input type="submit" value="Sign In"></p>
</form>
{% endblock %}